@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

footer {
  z-index: 999;
  height: 95%;
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%;
}

.preset_container {
  top: 0;
  left: 20px;
  z-index: 999;
}

button, a {
  pointer-events: all;
  text-shadow: #FC0 1px 0 10px;
}

a:hover {
  text-decoration: underline;
}

.file-icon {
  filter: brightness(200%);
}
